/* Group */

position: absolute;
left: -8.28%;
right: 64.8%;
top: 6.45%;
bottom: -5.75%;

/* Drop shadow/XLarge */
box-shadow: 0px 20px 40px -8px rgba(16, 24, 40, 0.05), 0px 20px 40px -8px rgba(16, 24, 40, 0.1);


/* Group */

position: absolute;
left: -4.95%;
right: 68.36%;
top: 46.93%;
bottom: 7.53%;



/* Group */

position: absolute;
left: -4.95%;
right: 98.8%;
top: 52.51%;
bottom: 12.58%;



/* Vector */

position: absolute;
left: -4.86%;
right: 98.88%;
top: 52.66%;
bottom: 12.7%;

background: #2893D0;


/* Vector */

position: absolute;
left: -4.95%;
right: 98.8%;
top: 52.51%;
bottom: 12.58%;

background: #2893D0;


/* Group */

position: absolute;
left: -3.89%;
right: 68.36%;
top: 46.93%;
bottom: 7.53%;



/* Vector */

position: absolute;
left: -3.83%;
right: 68.46%;
top: 47.05%;
bottom: 7.68%;

background: #2893D0;


/* Vector */

position: absolute;
left: 22.71%;
right: 71.72%;
top: 51.58%;
bottom: 31.7%;

background: #2893D0;


/* Vector */

position: absolute;
left: -3.89%;
right: 68.36%;
top: 46.93%;
bottom: 7.53%;

background: #2893D0;


/* Vector */

position: absolute;
left: 13.25%;
right: 81.56%;
top: 62.13%;
bottom: 17.68%;

background: #2893D0;


/* Group */

position: absolute;
left: 1.04%;
right: 95.58%;
top: 87.15%;
bottom: 11.13%;



/* Vector */

position: absolute;
left: 1.12%;
right: 95.67%;
top: 87.29%;
bottom: 11.28%;

background: #4461AB;


/* Vector */

position: absolute;
left: 1.04%;
right: 95.58%;
top: 87.15%;
bottom: 11.13%;

background: #4461AB;


/* Group */

position: absolute;
left: -4.55%;
right: 90.07%;
top: 50.93%;
bottom: 11.16%;



/* Vector */

position: absolute;
left: -4.47%;
right: 90.17%;
top: 51.07%;
bottom: 11.31%;

background: #4461AB;


/* Vector */

position: absolute;
left: -4.55%;
right: 90.07%;
top: 50.93%;
bottom: 11.16%;

background: #4461AB;


/* Group */

position: absolute;
left: 13.25%;
right: 81.56%;
top: 62.13%;
bottom: 17.68%;



/* Vector */

position: absolute;
left: 13.34%;
right: 81.66%;
top: 62.25%;
bottom: 17.82%;

background: #4461AB;


/* Vector */

position: absolute;
left: 13.25%;
right: 81.56%;
top: 62.13%;
bottom: 17.68%;

background: #4461AB;


/* Group */

position: absolute;
left: 22.71%;
right: 71.72%;
top: 51.58%;
bottom: 31.7%;



/* Vector */

position: absolute;
left: 22.8%;
right: 71.8%;
top: 51.71%;
bottom: 31.86%;

background: #4461AB;


/* Vector */

position: absolute;
left: 22.71%;
right: 71.72%;
top: 51.58%;
bottom: 31.7%;

background: #4461AB;


/* Group */

position: absolute;
left: 9.1%;
right: 83.19%;
top: 54.04%;
bottom: 33.6%;



/* Group */

position: absolute;
left: 11.35%;
right: 83.19%;
top: 54.04%;
bottom: 38.38%;



/* Vector */

position: absolute;
left: 11.42%;
right: 83.27%;
top: 54.22%;
bottom: 38.5%;

background: #244698;


/* Vector */

position: absolute;
left: 11.35%;
right: 83.19%;
top: 54.04%;
bottom: 38.38%;

background: #244698;


/* Group */

position: absolute;
left: 9.1%;
right: 88.22%;
top: 57.05%;
bottom: 33.6%;



/* Vector */

position: absolute;
left: 9.19%;
right: 88.29%;
top: 57.18%;
bottom: 33.73%;

background: #4461AB;


/* Vector */

position: absolute;
left: 9.1%;
right: 88.22%;
top: 57.05%;
bottom: 33.6%;

background: #4461AB;


/* Group */

position: absolute;
left: 10.76%;
right: 86.94%;
top: 57.05%;
bottom: 39.58%;



/* Vector */

position: absolute;
left: 10.84%;
right: 87.01%;
top: 57.18%;
bottom: 39.73%;

background: #283A84;


/* Vector */

position: absolute;
left: 10.76%;
right: 86.94%;
top: 57.05%;
bottom: 39.58%;

background: #283A84;


/* Group */

position: absolute;
left: 1.17%;
right: 73.82%;
top: 6.45%;
bottom: 62.05%;



/* Group */

position: absolute;
left: 1.59%;
right: 73.82%;
top: 7.04%;
bottom: 62.05%;



/* Vector */

position: absolute;
left: 1.67%;
right: 73.92%;
top: 7.13%;
bottom: 62.21%;

background: #191446;


/* Vector */

position: absolute;
left: 1.59%;
right: 73.82%;
top: 7.04%;
bottom: 62.05%;

background: #191446;


/* Group */

position: absolute;
left: 6.79%;
right: 87.04%;
top: 6.82%;
bottom: 85.56%;



/* Vector */

position: absolute;
left: 6.87%;
right: 87.13%;
top: 6.97%;
bottom: 85.72%;

background: #E46790;


/* Vector */

position: absolute;
left: 6.79%;
right: 87.04%;
top: 6.82%;
bottom: 85.56%;

background: #E46790;


/* Group */

position: absolute;
left: 13.04%;
right: 78.92%;
top: 6.45%;
bottom: 90.12%;



/* Vector */

position: absolute;
left: 13.12%;
right: 78.98%;
top: 6.59%;
bottom: 90.29%;

background: #E46790;


/* Vector */

position: absolute;
left: 13.04%;
right: 78.92%;
top: 6.45%;
bottom: 90.12%;

background: #E46790;


/* Group */

position: absolute;
left: 1.17%;
right: 93.26%;
top: 10.72%;
bottom: 75.46%;



/* Vector */

position: absolute;
left: 1.25%;
right: 93.35%;
top: 10.85%;
bottom: 75.61%;

background: #E46790;


/* Vector */

position: absolute;
left: 1.17%;
right: 93.26%;
top: 10.72%;
bottom: 75.46%;

background: #E46790;


/* Group */

position: absolute;
left: 6.86%;
right: 88.7%;
top: 43.92%;
bottom: 47.14%;



/* Vector */

position: absolute;
left: 6.95%;
right: 88.79%;
top: 44.07%;
bottom: 47.27%;

background: #504566;


/* Vector */

position: absolute;
left: 6.86%;
right: 88.7%;
top: 43.92%;
bottom: 47.14%;

background: #504566;


/* Group */

position: absolute;
left: 8.38%;
right: 89.93%;
top: 45.56%;
bottom: 50.12%;



/* Vector */

position: absolute;
left: 8.45%;
right: 90.02%;
top: 45.7%;
bottom: 50.27%;

background: #191446;


/* Vector */

position: absolute;
left: 8.38%;
right: 89.93%;
top: 45.56%;
bottom: 50.12%;

background: #191446;


/* Group */

position: absolute;
left: 5.59%;
right: 77.62%;
top: 19.44%;
bottom: 41.53%;



/* Group */

position: absolute;
left: 5.59%;
right: 77.82%;
top: 19.44%;
bottom: 41.93%;



/* Vector */

position: absolute;
left: 5.64%;
right: 77.91%;
top: 19.56%;
bottom: 42.06%;

background: #F9C09D;


/* Vector */

position: absolute;
left: 5.59%;
right: 77.82%;
top: 19.44%;
bottom: 41.93%;

background: #F9C09D;


/* Group */

position: absolute;
left: 21.44%;
right: 77.64%;
top: 31.72%;
bottom: 62.68%;



/* Vector */

position: absolute;
left: 21.53%;
right: 77.73%;
top: 31.85%;
bottom: 62.82%;

background: #F9C09D;


/* Vector */

position: absolute;
left: 21.44%;
right: 77.64%;
top: 31.72%;
bottom: 62.68%;

background: #F9C09D;


/* Group */

position: absolute;
left: 22.01%;
right: 77.62%;
top: 28.95%;
bottom: 68.02%;



/* Vector */

position: absolute;
left: 22.1%;
right: 77.7%;
top: 29.09%;
bottom: 68.14%;

background: #F9AE82;


/* Vector */

position: absolute;
left: 22.01%;
right: 77.62%;
top: 28.95%;
bottom: 68.02%;

background: #F9AE82;


/* Group */

position: absolute;
left: 10.76%;
right: 77.7%;
top: 28.87%;
bottom: 41.53%;



/* Vector */

position: absolute;
left: 10.85%;
right: 77.77%;
top: 29.02%;
bottom: 41.64%;

background: #F9AE82;


/* Vector */

position: absolute;
left: 10.76%;
right: 77.7%;
top: 28.87%;
bottom: 41.53%;

background: #F9AE82;


/* Group */

position: absolute;
left: 9.52%;
right: 86.52%;
top: 24.07%;
bottom: 74.5%;



/* Vector */

position: absolute;
left: 9.61%;
right: 86.58%;
top: 24.21%;
bottom: 74.64%;

background: #F9AE82;


/* Vector */

position: absolute;
left: 9.52%;
right: 86.52%;
top: 24.07%;
bottom: 74.5%;

background: #F9AE82;


/* Group */

position: absolute;
left: 14.58%;
right: 80.86%;
top: 21.14%;
bottom: 77.97%;



/* Vector */

position: absolute;
left: 14.66%;
right: 80.94%;
top: 21.29%;
bottom: 78.1%;

background: #F9AE82;


/* Vector */

position: absolute;
left: 14.58%;
right: 80.86%;
top: 21.14%;
bottom: 77.97%;

background: #F9AE82;


/* Group */

position: absolute;
left: 10.48%;
right: 85.17%;
top: 43.34%;
bottom: 50.42%;



/* Vector */

position: absolute;
left: 10.56%;
right: 85.27%;
top: 43.48%;
bottom: 50.56%;

background: #E68262;


/* Vector */

position: absolute;
left: 10.48%;
right: 85.17%;
top: 43.34%;
bottom: 50.42%;

background: #E68262;


/* Group */

position: absolute;
left: 7.09%;
right: 77.9%;
top: 22.32%;
bottom: 59.95%;



/* Group */

position: absolute;
left: 7.09%;
right: 91.16%;
top: 36.06%;
bottom: 59.95%;



/* Vector */

position: absolute;
left: 7.09%;
right: 91.16%;
top: 36.06%;
bottom: 59.95%;

background: #62392C;


/* Group */

position: absolute;
left: 9.95%;
right: 77.9%;
top: 22.32%;
bottom: 62.99%;



/* Group */

position: absolute;
left: 17.69%;
right: 78.08%;
top: 24.69%;
bottom: 65.98%;



/* Vector */

position: absolute;
left: 17.69%;
right: 78.08%;
top: 24.69%;
bottom: 65.98%;

background: #F9AE82;


/* Group */

position: absolute;
left: 10.04%;
right: 87.83%;
top: 29.24%;
bottom: 68.43%;



/* Vector */

position: absolute;
left: 10.04%;
right: 87.83%;
top: 29.24%;
bottom: 68.43%;

background: #F9AE82;


/* Group */

position: absolute;
left: 11.72%;
right: 83.52%;
top: 25.87%;
bottom: 64.46%;



/* Vector */

position: absolute;
left: 11.72%;
right: 83.52%;
top: 25.87%;
bottom: 64.46%;

background: #F9AE82;


/* Group */

position: absolute;
left: 17.72%;
right: 77.9%;
top: 23.76%;
bottom: 66.9%;



/* Vector */

position: absolute;
left: 17.72%;
right: 77.9%;
top: 23.76%;
bottom: 66.9%;

background: #191446;


/* Group */

position: absolute;
left: 11.93%;
right: 83.3%;
top: 24.93%;
bottom: 65.4%;



/* Vector */

position: absolute;
left: 11.93%;
right: 83.3%;
top: 24.93%;
bottom: 65.4%;

background: #191446;


/* Group */

position: absolute;
left: 17.56%;
right: 80.36%;
top: 27.44%;
bottom: 65.96%;



/* Vector */

position: absolute;
left: 17.56%;
right: 80.36%;
top: 27.44%;
bottom: 65.96%;

background: #62392C;


/* Group */

position: absolute;
left: 16.92%;
right: 81.66%;
top: 36.06%;
bottom: 62.99%;



/* Vector */

position: absolute;
left: 16.92%;
right: 81.66%;
top: 36.06%;
bottom: 62.99%;

background: #62392C;


/* Group */

position: absolute;
left: 18.14%;
right: 79.93%;
top: 22.32%;
bottom: 76.65%;



/* Vector */

position: absolute;
left: 18.14%;
right: 79.93%;
top: 22.32%;
bottom: 76.65%;

background: #62392C;


/* Group */

position: absolute;
left: 14.09%;
right: 84.34%;
top: 22.89%;
bottom: 76.3%;



/* Vector */

position: absolute;
left: 14.09%;
right: 84.34%;
top: 22.89%;
bottom: 76.3%;

background: #62392C;


/* Group */

position: absolute;
left: 16.08%;
right: 81.84%;
top: 27.22%;
bottom: 71.83%;



/* Vector */

position: absolute;
left: 16.08%;
right: 81.84%;
top: 27.22%;
bottom: 71.83%;

background: #191446;


/* Group */

position: absolute;
left: 9.95%;
right: 87.82%;
top: 28.78%;
bottom: 69.16%;



/* Vector */

position: absolute;
left: 9.95%;
right: 87.82%;
top: 28.78%;
bottom: 69.16%;

background: #191446;


/* Group */

position: absolute;
left: 12.78%;
right: 84.55%;
top: 26.92%;
bottom: 67.31%;



/* Vector */

position: absolute;
left: 12.78%;
right: 84.98%;
top: 26.92%;
bottom: 67.84%;

background: #FFFFFF;
transform: rotate(-8.64deg);


/* Vector */

position: absolute;
left: 12.9%;
right: 84.67%;
top: 27.03%;
bottom: 67.46%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 18.88%;
right: 79.02%;
top: 25.86%;
bottom: 69.27%;



/* Vector */

position: absolute;
left: 18.96%;
right: 79.11%;
top: 26.01%;
bottom: 69.41%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 18.88%;
right: 79.02%;
top: 25.86%;
bottom: 69.27%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 12.86%;
right: 85.57%;
top: 27.78%;
bottom: 68.19%;



/* Vector */

position: absolute;
left: 12.93%;
right: 85.66%;
top: 27.93%;
bottom: 68.33%;

background: #191446;


/* Vector */

position: absolute;
left: 12.86%;
right: 85.57%;
top: 27.78%;
bottom: 68.19%;

background: #191446;


/* Group */

position: absolute;
left: 18.87%;
right: 79.79%;
top: 26.72%;
bottom: 69.93%;



/* Vector */

position: absolute;
left: 18.95%;
right: 79.88%;
top: 26.86%;
bottom: 70.09%;

background: #191446;


/* Vector */

position: absolute;
left: 18.87%;
right: 79.79%;
top: 26.72%;
bottom: 69.93%;

background: #191446;


/* Group */

position: absolute;
left: 14.04%;
right: 85.36%;
top: 28.89%;
bottom: 70.05%;



/* Vector */

position: absolute;
left: 14.11%;
right: 85.45%;
top: 29.04%;
bottom: 70.2%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 14.04%;
right: 85.36%;
top: 28.89%;
bottom: 70.05%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 19.85%;
right: 79.58%;
top: 27.54%;
bottom: 71.47%;



/* Vector */

position: absolute;
left: 19.93%;
right: 79.66%;
top: 27.67%;
bottom: 71.6%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 19.85%;
right: 79.58%;
top: 27.54%;
bottom: 71.47%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 12.88%;
right: 73.06%;
top: 27.06%;
bottom: 41.76%;



/* Group */

position: absolute;
left: 12.88%;
right: 73.06%;
top: 27.06%;
bottom: 41.76%;



/* Vector */

position: absolute;
left: 13.01%;
right: 73.15%;
top: 27.16%;
bottom: 41.93%;

background: #F9C09D;


/* Vector */

position: absolute;
left: 22.58%;
right: 77.41%;
top: 32.02%;
bottom: 67.97%;

background: #F9C09D;


/* Vector */

position: absolute;
left: 12.88%;
right: 73.06%;
top: 27.06%;
bottom: 41.76%;

background: #F9C09D;


/* Group */

position: absolute;
left: 21.73%;
right: 76.82%;
top: 31.4%;
bottom: 61.34%;



/* Vector */

position: absolute;
left: 21.82%;
right: 76.9%;
top: 31.55%;
bottom: 61.49%;

background: #DA6249;


/* Vector */

position: absolute;
left: 22.58%;
right: 77.41%;
top: 32.02%;
bottom: 67.97%;

background: #DA6249;


/* Vector */

position: absolute;
left: 21.73%;
right: 76.82%;
top: 31.4%;
bottom: 61.34%;

background: #DA6249;


/* Group */

position: absolute;
left: 21.91%;
right: 75.34%;
top: 28.28%;
bottom: 61.24%;



/* Vector */

position: absolute;
left: 21.97%;
right: 75.44%;
top: 28.43%;
bottom: 61.37%;

background: #DA6249;


/* Vector */

position: absolute;
left: 21.91%;
right: 75.34%;
top: 28.28%;
bottom: 61.24%;

background: #DA6249;


/* Group */

position: absolute;
left: 25.17%;
right: 74.15%;
top: 29.93%;
bottom: 61.87%;



/* Vector */

position: absolute;
left: 25.25%;
right: 74.24%;
top: 30.07%;
bottom: 62.02%;

background: #DA6249;


/* Vector */

position: absolute;
left: 25.17%;
right: 74.15%;
top: 29.93%;
bottom: 61.87%;

background: #DA6249;


/* Group */

position: absolute;
left: 13.49%;
right: 75.49%;
top: 53.62%;
bottom: 32.98%;



/* Vector */

position: absolute;
left: 13.57%;
right: 75.58%;
top: 53.76%;
bottom: 33.11%;

background: #504566;


/* Vector */

position: absolute;
left: 13.49%;
right: 75.49%;
top: 53.62%;
bottom: 32.98%;

background: #504566;


/* Group */

position: absolute;
left: -8.28%;
right: 75.26%;
top: 51.58%;
bottom: -5.75%;



/* Group */

position: absolute;
left: -8.28%;
right: 78.9%;
top: 51.58%;
bottom: -5.75%;



/* Vector */

position: absolute;
left: -8.19%;
right: 78.98%;
top: 51.71%;
bottom: -5.58%;

background: #FCD375;


/* Vector */

position: absolute;
left: -8.28%;
right: 78.9%;
top: 51.58%;
bottom: -5.75%;

background: #FCD375;


/* Group */

position: absolute;
left: 14.64%;
right: 75.26%;
top: 81.02%;
bottom: -2.73%;



/* Vector */

position: absolute;
left: 14.71%;
right: 75.33%;
top: 81.16%;
bottom: -2.6%;

background: #E8AE37;


/* Vector */

position: absolute;
left: 14.64%;
right: 75.26%;
top: 81.02%;
bottom: -2.73%;

background: #E8AE37;


/* Group */

position: absolute;
left: 1.46%;
right: 94.63%;
top: 81.84%;
bottom: 12.37%;



/* Vector */

position: absolute;
left: 1.54%;
right: 94.71%;
top: 81.98%;
bottom: 12.51%;

background: #E8AE37;


/* Vector */

position: absolute;
left: 1.46%;
right: 94.63%;
top: 81.84%;
bottom: 12.37%;

background: #E8AE37;


/* Group */

position: absolute;
left: 23.22%;
right: 64.8%;
top: 48.95%;
bottom: -2.41%;



/* Group */

position: absolute;
left: 23.22%;
right: 64.8%;
top: 48.95%;
bottom: -2.41%;



/* Vector */

position: absolute;
left: 23.28%;
right: 64.89%;
top: 49.05%;
bottom: -2.25%;

background: #FCD375;


/* Vector */

position: absolute;
left: 23.22%;
right: 64.8%;
top: 48.95%;
bottom: -2.41%;

background: #FCD375;


/* Group */

position: absolute;
left: 24.76%;
right: 68.32%;
top: 62.61%;
bottom: 10.27%;



/* Vector */

position: absolute;
left: 24.86%;
right: 68.39%;
top: 62.74%;
bottom: 10.4%;

background: #E8AE37;


/* Vector */

position: absolute;
left: 24.76%;
right: 68.32%;
top: 62.61%;
bottom: 10.27%;

background: #E8AE37;


/* Group */

position: absolute;
left: 13.84%;
right: 68.4%;
top: 61.69%;
bottom: -2.35%;



/* Vector */

position: absolute;
left: 13.92%;
right: 68.47%;
top: 61.83%;
bottom: -2.22%;

background: #FCD375;


/* Vector */

position: absolute;
left: 13.84%;
right: 68.4%;
top: 61.69%;
bottom: -2.35%;

background: #FCD375;


/* Group */

position: absolute;
left: 6.9%;
right: 86.92%;
top: 46.2%;
bottom: 33.89%;



/* Vector */

position: absolute;
left: 6.97%;
right: 87.01%;
top: 46.35%;
bottom: 34.02%;

background: #504566;


/* Vector */

position: absolute;
left: 6.9%;
right: 86.92%;
top: 46.2%;
bottom: 33.89%;

background: #504566;


/* Group */

position: absolute;
left: 20.97%;
right: 76.82%;
top: 56.43%;
bottom: 39.75%;



/* Vector */

position: absolute;
left: 21.06%;
right: 76.91%;
top: 56.57%;
bottom: 39.9%;

background: #191446;


/* Vector */

position: absolute;
left: 20.97%;
right: 76.82%;
top: 56.43%;
bottom: 39.75%;

background: #191446;


/* Group */

position: absolute;
left: 21.03%;
right: 76.77%;
top: 55.88%;
bottom: 40.29%;



/* Vector */

position: absolute;
left: 21.1%;
right: 76.86%;
top: 56.03%;
bottom: 40.44%;

background: #C0C3D6;


/* Vector */

position: absolute;
left: 21.03%;
right: 76.77%;
top: 55.88%;
bottom: 40.29%;

background: #C0C3D6;
